.box{
  width: 550px;
  margin: 20px auto;
  text-align: justify;
  display:flex;
  flex-direction: row;
}

h1{
  font: 28px Arial;
}

.Rightside{
  border-left: 10px solid rgb(86,100,146);
  padding-left: 20px;
}

.Data, .Age_Country{
  display: inline-block;
  flex-direction: row;
  font: 14px Sans-serif;
  margin-top: 20px;
}

.Age_Country{
  font-weight: bold;
}

.Data{
  margin-left: 40px;
}

.up{
  background-color: rgb(255,255,241);
}

.down{
  background-color: rgb(172,184,223)
}

.Edit{
  padding: 20px 0 0 70px;
}
